on:
  issues:
    types: [opened]

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v3
        if: (contains(github.event.issue.body, 'Environment') == false) && (contains(github.event.issue.title, 'request') == false)
        with:
          script: |
            await github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Would you tell us your envrionment? Thank you! (If this issue relates with a feature request, we are sorry for inconvenience. It will be great if you add "request" to your issue title from now on.)'
            });
            await github.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['update-needed']
            });
